$color-chat: #42ba96;
$color_chat1: #dd6262;

.message {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.message.sent {
  justify-content: flex-end;
}

.message-content {
  max-width: 60%;
  padding: 10px;
  border-radius: 10px;
  word-wrap: break-word;
  color: #fff;
  //Màu nền cho tin nhắn của bạn
  background-color: $color_chat;
}

.message.received .message-content {
  color: #fff;
  //Màu nền cho tin nhắn của người khác
  background-color: $color_chat1;
}